/*
Archivo de css para el manejode validaciones
*/


.PBvalidation.ico-valid, .PBvalidationField.ico-valid {
    background-image: url(../images/validation/ico-valid.png);
}
.PBvalidation.ico-invalid, .PBvalidationField.ico-invalid {
    background-image: url(../images/validation/ico-invalid.png);
}

.ico-valid, .ico-invalid{
    background-repeat: no-repeat;
}

.PBvalidation.spacingIcon{
    /*padding: 0 30px 0 10px !important;*/
    /*padding-left: 10px;  /*Se ha comentado por efectos de vista normal (solo funciona en popup)*/
    /*padding-right: 30px; /*Se ha comentado por efectos de vista normal (solo funciona en popup)*/
}